<div class="card">
    <h5>Cuadrar caja</h5>
    
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12">
            <label for="firstname2">Caja</label>
            <p-dropdown name="caja" 
            [options]="cajas" [(ngModel)]="cajaSeleccionada" optionLabel="desCaja" optionValue="codCaja"></p-dropdown>
        </div>
        <div class="field col-12 md:col-6">
            <label for="fecha">Fecha</label>
            <p-calendar  name="fechaApertura"   [(ngModel)]="fechaApertura"></p-calendar>
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname2">Importe</label>
            <input id="lastname2" name="lastname2" type="text" pInputText >
        </div>
    </div>

</div>
