<div class="card {{!verificarApertura ? 'full-width-screen' :'' }}" >
   
    <div  *ngIf="!verificarApertura">
        <div class="grid flex flex-column align-items-center">
            <div class="flex justify-content-center align-items-center bg-orange-500 border-circle"
                style="width: 3.2rem; height: 3.2rem;"><i class="text-50 pi pi-fw pi-lock text-2xl"></i></div>
            <h1 class="text-900 font-bold text-4xl lg:text-5xl mb-2">Acceso denegado</h1><span class="text-600 mb-5">
                No puede ingresar mientras no haya aperturado caja.</span>
        </div>
    </div>
    <div class="p-fluid p-formgrid grid" *ngIf="verificarApertura">
        <h5>Atención de mesas</h5>
        <div >
            <p-dataView #dv [value]="mesas" [paginator]="true" [rows]="18" layout="grid"
                emptyMessage="No existen mesas">
                <ng-template let-mesa pTemplate="gridItem">
                    <div class="sm:col-6 md:col-3 lg:col-2 col-12">
                        <div class="mesa-grid-item card {{mesa.desEstadoRegistro=='DISPONIBLE' ? 'mesa-disponible' : 'mesa-nodisponible'}}"
                            (click)="seleccionarMesa(mesa)">
                            <div class="mesa-grid-item-top">
                                <div>
                                    <i class="pi pi-hashtag mesa-nro-icon" style="font-size: 1rem"></i>
                                    <span class="mesa-nro">{{mesa.desMesa}}</span>
                                </div>
                                <span [class]="'product-badge'">{{mesa.puntoAtencion}}</span>
                            </div>
                            <div class="mesa-grid-item-content">
                                <div class="mesa-estado">{{mesa.desEstadoRegistro}}</div>
                                <div class="mesa-cliente">{{mesa.desCliente==undefined || mesa.desCliente==='' ? ' - ' :
                                    mesa.desCliente}}</div>

                            </div>
                            <div class="mesa-grid-item-bottom">
                                <span class="mesa-monto">S/ {{mesa.montoTotal==undefined ? "0.00" : mesa.montoTotal |
                                    number: '1.2-2'}}</span>

                                <p-button icon="pi pi-shopping-cart" (click)="cobrarMesa($event,mesa)" pTooltip="Cobrar"
                                    styleClass="{{mesa.desEstadoRegistro==='DISPONIBLE' ? 'p-button-success' : 'p-button-danger'}}"
                                    [disabled]="mesa.desEstadoRegistro === 'DISPONIBLE'"></p-button>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </p-dataView>
        </div>

    </div>



    <p-dialog [(visible)]="mostrarModalPedido" [modal]="true" [draggable]="false" [resizable]="false"
        [closeOnEscape]="false" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}">
        <ng-template pTemplate="header">
            <span class="p-dialog-title">Mesa {{mesaSeleccionada.desMesa}} </span>
        </ng-template>
        <div class="grid">
            <div class="field sm:col-12 md:col-12 lg:col-5">
                <p-table responsiveLayout="scroll" [value]="productosPorPedir" #dt1 dataKey="producto"
                    selectionMode="single" [(selection)]="selectedProducto" responsiveLayout="scroll"
                    (onRowSelect)="seleccionarProducto($event)" [rows]="10" [showCurrentPageReport]="true"
                    styleClass="p-datatable-gridlines" [paginator]="true"
                    [globalFilterFields]="['desProducto','desFamilia']">
                    <!--currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} productos"-->
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash"
                                (click)="limpiarFiltrado(dt1)"></button>
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="filtrarTabla($event)"
                                    placeholder="Buscar producto" />
                            </span>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Familia</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-producto let-columns="columns">
                        <tr [pSelectableRow]="producto" (click)="op.toggle($event)">
                            <td>{{producto.desProducto}}</td>
                            <td>{{producto.precioFormateado}}</td>
                            <td>{{producto.desFamilia}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">No existen productos.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="field sm:col-12 md:col-12 lg:col-7">
                <span class="p-buttonset">
                    <button *ngFor="let button of accionesPedido" (click)="accionPedidoMesa(button)"
                        class="p-button-outlined p-button-sm {{button.classBtn}}" pButton pRipple
                        label="{{ button.texto }}">
                        <i style="margin-right: 5px !important;" [class]="button.icon"></i> {{ button.text }}
                    </button>
                </span>
                <br /><br />
                <p-table [value]="pedidosMesa" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>N°</th>
                            <th>Producto</th>
                            <th>Cant.</th>
                            <th>P.U.</th>
                            <th>Subtotal</th>
                            <th>Acción</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-pedido>
                        <tr>
                            <td>{{pedido.nro}}</td>
                            <td>{{pedido.desProducto}}</td>
                            <td>{{pedido.cantidad}}</td>
                            <td>{{pedido.precio | number: '1.2-2'}}</td>
                            <td>{{pedido.subTotal | number: '1.2-2'}}</td>
                            <td> - </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr  *ngIf="pedidosMesa.length>0">
                            <td colspan="4" class="text-right">Total</td>
                            <td>{{montoTotalPagar | currency: 'PEN'}}</td> 
                            <td colspan="1"></td>
                        </tr>
                    </ng-template>
                </p-table>
                <!--<div class="colCantidad">
                    <p-inputNumber inputId="integeronly" [min]="1" [(ngModel)]="cantidadPedido"  class="p-inputtext-lg inputCantidad" placeholder="Ingrese cantidad"></p-inputNumber>
                        <button pButton pRipple  icon="pi pi-plus" class="p-button-success p-button-lg btnAgregar"></button>
                        <button pButton pRipple   icon="pi pi-eraser" class="p-button-secondary p-button-lg btnLimpiar"></button> 
                </div>
                <span class="p-buttonset">
                    <button *ngFor="let button of buttonGroups[0]" class="p-button-outlined p-button-lg p-button-secondary" pButton pRipple label="{{ button }}" (click)="seleccionarNumero(button)"></button>
                </span>  
                <span class="p-buttonset">
                    <button *ngFor="let button of buttonGroups[1]" class="p-button-outlined p-button-lg p-button-secondary" pButton pRipple label="{{ button }}" (click)="seleccionarNumero(button)"></button>
                </span>-->
            </div>
        </div>
    </p-dialog>

    <p-overlayPanel #op [showCloseIcon]="true" [dismissable]="true" [style]="{width: '400px'}">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12">
                <div class="colCantidad">
                    <p-inputNumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false" [min]="0"
                        [(ngModel)]="cantidadPedido" class="p-inputtext-lg inputCantidad"
                        placeholder="Ingrese cantidad"></p-inputNumber>
                    <button pButton pRipple (click)="agregarPedido();op.hide();" icon="pi pi-plus"
                        class="p-button-success p-button-lg btnAgregar"></button>
                    <button pButton pRipple (click)="limpiarCalculadora()" icon="pi pi-eraser"
                        class="p-button-secondary p-button-lg btnLimpiar"></button>
                </div>
                <span class="p-buttonset">
                    <button *ngFor="let button of buttonGroups[0]"
                        class="p-button-outlined p-button-lg p-button-secondary" pButton pRipple label="{{ button }}"
                        (click)="seleccionarNumero(button)"></button>
                </span>
                <span class="p-buttonset">
                    <button *ngFor="let button of buttonGroups[1]"
                        class="p-button-outlined p-button-lg p-button-secondary" pButton pRipple label="{{ button }}"
                        (click)="seleccionarNumero(button)"></button>
                </span>
            </div>
        </div>

    </p-overlayPanel>

    <p-dialog [(visible)]="mostrarModalAgregarCliente" [modal]="true" [draggable]="false" [resizable]="false"
        [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
        <ng-template pTemplate="header">
            <span class="p-dialog-title">Cliente {{mesaSeleccionada.desCliente}} </span>
        </ng-template>
        <div class="grid">
        </div>
    </p-dialog>

    <p-dialog [(visible)]="mostrarConfirmarAnulacion" [modal]="true" [draggable]="false" [resizable]="false"
        [style]="{width: '350px'}">
        <ng-template pTemplate="header">
            <span class="p-dialog-title">Confirmación</span>
        </ng-template>
        <br />
        <div class="grid">
            <div class="field sm:col-12 md:col-5">
                Usuario
            </div>
            <div class="field sm:col-12 md:col-5">
                Contraseña
            </div>
        </div>
    </p-dialog>

   

    <p-dialog [(visible)]="mostrarCobrarPrincipal" [modal]="true" [draggable]="false" [resizable]="false"
        [closeOnEscape]="false" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}">
        <ng-template pTemplate="header">
            <span class="p-dialog-title">Pedido #{{mesaSeleccionada.nroPedido | number}} de Mesa
                {{mesaSeleccionada.desMesa}}</span>
        </ng-template>
        <br />
        <div class="grid">
            <div class="sm:col-12 md:col-12 lg:col-6" >
                <div class="p-fluid p-formgrid grid">
                    <!--<div class="field col-12">
                        <label for="firstname2">Descuento</label>
                        <p-dropdown name="descuento" [options]="listadoDsctos" [(ngModel)]="dsctoSeleccionado" 
                        optionLabel="desDscto" optionValue="codDscto"></p-dropdown>
                    </div>-->
                    <div class="field col-12">
                        <label for="firstname2">Métodos de pago</label>
                        <p-selectButton [options]="metodosPagos" [(ngModel)]="metodoPagoSeleccionado" optionLabel="icon">
                            <ng-template let-item>
                                <i [class]="item.icon" style="margin-right: 5px !important;"></i>  {{ item.texto}}
                            </ng-template>
                        </p-selectButton>
                       
                    </div>
                   
                    <div *ngIf="metodoPagoSeleccionado?.id==2"  class="field md:col-6 sm:col-12 col-12">
                        <label for="tarjeta">Especifique tarjeta</label>
                        
                        <p-dropdown name="descuento" [options]="listadoDsctos" [(ngModel)]="dsctoSeleccionado" 
                        optionLabel="desDscto" optionValue="codDscto"></p-dropdown>   
                            
                    </div>
                    <div *ngIf="metodoPagoSeleccionado?.id==2"  class="field md:col-6 sm:col-12 col-12">
                        <label for="tarjeta">N° operación</label>
                        <input type="text" pInputText > 
                            
                    </div>
                    <div  class="field col-12" *ngIf="metodoPagoSeleccionado?.id==1 || metodoPagoSeleccionado?.id==2">
                        <label for="monto">Importe</label>
                        <div class="p-inputgroup">
                            <input type="text" pInputText placeholder="Monto"> 
                            <span class="p-inputgroup-addon" *ngIf="metodoPagoSeleccionado?.id==1">Vuelto <br />S/ 700.00</span>
                            <button type="button" pButton pRipple icon="pi pi-plus" styleClass="p-button-succes" label="Agregar pago"></button>       
                        </div>
                    </div>
                     
                </div>
               
            </div>
            <div class="sm-col-12 md:col-12 lg:col-6">
                <div class="p-fluid p-formgrid grid">
                    <div class="sm-col-12 md:col-12">
                        <p-table [value]="listadoPagos" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Método de pago</th>
                                    <th>Importe</th>
                                    <th>Nota</th> 
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-pedido>
                                <tr> 
                                    <td>{{pedido.metodoPago}}</td>  
                                    <td>{{pedido.importe | number: '1.2-2'}}</td>
                                    <td> - </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="3">No hay método de pago.</td>
                                </tr>
                            </ng-template>
                        </p-table>    
                    </div>
                    <div class="field col-12">
                        <textarea [autoResize]="false" rows="3" pInputTextarea placeholder="Observación o nota"></textarea>
                    </div>
                    <div class="field col-6 ">
                        <button pButton pRipple  icon="pi pi-check" label="Cobrar" class="p-button-success p-button-lg "></button>
                    </div>
                    <div class="field col-6">
                        <button pButton pRipple  icon="pi pi-list" label="Detallado" class="p-button-success p-button-lg"></button>
                    </div>
                    
                </div>  
            </div>
        </div>
    </p-dialog>

    <p-toast position="top-right"></p-toast>
    <app-loading [show]="loading"></app-loading>