@import "assets/layout/styles/layout.scss";
/*
.p-dropdown{
  width: 100%;
  border-color: var(--surface-border);
}

.p-dropdown .p-dropdown-label {
  margin: -4px;
}*/

.full-width-screen{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-full-width{
  display: flex;
  width: 100%;
}