@import "assets/layout/styles/layout.scss";
/*
.p-dropdown{
  width: 100%;
  border-color: var(--surface-border);
}

.p-dropdown .p-dropdown-label {
  margin: -4px;
}*/

.full-width-screen{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-full-width{
  display: flex;
  width: 100%;
}

// body {
//   .p-input-filled .p-inputtext,
//   .p-input-filled .p-dropdown,
//   .p-input-filled .p-password,
//   .p-input-filled .p-calendar {
//     background-color: var(--surface-ground);
//     border-color: var(--primary-color);
//     border-radius: 4px;
//     color: var(--text-color);
//     box-shadow: none;
//   }
// }